.background{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding-bottom: 0.5em;

}
#diplomes{
	border: 1px;
}
#diplomes > .row > p{
	color:white;
}
footer{
	background-color: #732646;
	color:white;
}
#competence > .btn-default{
	color: #732646;
}
